.table {
    border: 5px solid purple;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

th {
    border-bottom: 2px solid black;
    
}

td {
    text-align: center;
}

// ::placeholder {
//     color:red;
// }

//sass syntax
$base-color: rgb(59, 226, 148);
.container {
    height: 100vh;
    background-color: $base-color;
    .header{
        padding: 15px 20px;
        background-color: #6200EE;
        text-align: center;
    }
    // .nav{
    //     display: flex;
    //     justify-content: center;
    //     flex-grow: 4;
    //     gap: 120px;

    // }
    h1{
        color: $base-color;
    }
    .navButton{
        width: 100px;
        height: 24px;
        
    }
}